/* Navbar */

.logo {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2em;
    color: white;
    margin: 5px;
}

/* Body */

body {
    background-color: #f0efee;
    color:#846048;
    font-family:'Open Sans', sans-serif;
}

body p {
    margin-top: 20px;
}

.video {
	margin-left:40%;
    margin-top: 70px;
	}


.col-centered{
    float: none;
    margin: 0 auto;
}

/* Carousel */

.item {
    align-content: center;
}

.item img {
    max-height: 500px;
}

/* ---- Gallery ---- */

#gallery a {
	text-decoration: none;
}

#gallery li {
	display: inline;
}

#gallery img {
	width: 10%;
    margin-top: 60px;
    margin-left: 5%;
}


/* Sticky footer */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footericon {
	max-height: 20px;
	margin-left:10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #514f4e;
    color: #b0afab;
    font-weight:700;
    font-size:.75em;
	text-align:center;
}

.footer p {
    margin-top: 20px;
}



/* Media Query */

@media (max-width: 383px) {
    .logo {
        font-size: 1em;
        margin: 0;
    }
}