/* Navbar */

.logo {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2em;
    color: white;
    margin: 5px;
	text-shadow: 2px 2px 10px #836f63;
}

.navbar-default {
	background-color: #c4b8b1;
	font-size: 1.75em;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 2px 2px 10px #836f63;
}

/* Body */

body {
    background-color: #f0efee;
    color:#846048;
    font-family:'Open Sans', sans-serif;
	padding-top:65px;
	margin-top: 60px;
}

body p {
    margin-top: 20px;
}


.col-centered{
    float: none;
    margin: 0 auto;
}


/* Carousel */

.item {
    align-content: center;
	  max-height: 600px;
}

/* ---- Gallery ---- */

#gallery a {
	text-decoration: none;
}

#gallery li {
	display: inline;
}

#gallery img {
	width: 10%;
    margin-top: 60px;
    margin-left: 5%;
}


/* ---- A to Z ---- */
.buttons {
   margin-left:50px; 
}

.btn {
	box-shadow: -3px 7px 9px -5px #b0a096;
  border: 1px solid #846048;
	background-color:#b0a096;
	border-radius:20%;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1.5em;
	height: 2em;
  width: 2.2em;
	text-decoration:none;
	text-shadow:-4px 4px 5px #846048;
  margin: .1em;
}
.btn:hover {
	background-color:#846048;
	border:2px dotted #b0a096;
}

.btninfo h3 {
    color:#9f8375;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #b0a096;
}

.nav-pills>li>a {
    color: #846048;
    background-color: #b0a096;
	  text-decoration: none;
		font-size:1.5em;
		height: 2em;
    margin: .1em;
	  border: 2px solid #846048;
}


/* EBB */

.ebb ul li {
	list-style: none;
	text-align: center;
	display: inline-block;
	margin: 2px;
}

.ebb div h1 {
	text-align: center;
}

.ebb ul li button {
	    color: #fff;
    background-color: #b0a096;
	  text-decoration: none;
		font-size:1.5em;
		height: 2em;
    margin: .1em;
	  border: 2px solid #846048;
	  border-radius: 10%;
}

.ebbdiv {
	margin: 20px;
	border: 2px dotted #846048;
}
/* Sticky footer */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

.footericon {
	max-height: 20px;
	margin-left:10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #514f4e;
    color: #b0afab;
    font-weight:700;
    font-size:.75em;
	  text-align:center;
}

.footer p {
    margin-top: 20px;
}


/* Media Queries */
@media(max-width:767px){
	.logo {
		font-size:1em;
	}
}

@media(min-width:768px){}

@media(min-width:992px){}

@media(min-width:1200px){}
